#symbol {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

body *{
	font-family: 'Open Sans', sans-serif;
  }

  .bgimg {
    background-image: url("bg.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .green {
    color: #238b45;
    font-weight: bold ;
  }

  .red {
    color: #b30000;
    font-weight: bold ;
  }

  .blue {
    color: #253494;
    font-weight: bold ;
  }

  .big-font {
    font-size: 19px;
  }

  p {
    font-size: 19px;
  }

  .bold {
    font-weight: bold ;
  }

  h1 {
	font-weight: 1200;
  font-size: 40px;
  text-align: center;
  }
  
  body {
	background-color: lightgrey;
  }
  
  .page {
  margin: 0 auto;
	width: 1280px;
	background-color: white;
	margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
	padding: 50px;
	padding-top: 35px;
  border-radius: 25px
  }
  
  .vis-container {
	width: 100%;
  }
  
  .description h2,
  h1 {
	margin-top: 0px;
  }
  
  .description-right {
	padding-left: 20px;
  }
  
  .description-left {
	padding-right: 20px;
  }
  
  .pure-g {
	margin-bottom: 40px;
  }
  
  .small-font {
	font-size: 16px;
  }